<p id="notice"><%= notice %></p>

<p>
  <font size="4"><strong>カテゴリー名:</strong>
  <%= @category.categoryname %>
</p>

<font size="5"><%= link_to '編集', edit_category_path(@category) %> |
<font size="5"><%= link_to '戻る', categories_path %>
